* {
    box-sizing: border-box;
}

body {
    background-color: #edeff2;
    font-family: "Calibri", "Roboto", sans-serif;
}

#minesweeper {
    margin: 30px;
}

#user {
    margin: 30px;
}

#game-id{
    display: none;
}

#restart-game {
    text-align: center;
    color: #31708f;
    position: absolute;
    left: 85%;
    top: 10%;
    font-size: 12px;   
}

#resume-games {
    text-align: center;
    color: #31708f;
    position: absolute;
    left: 76%;
    top: 3%;
    font-size: 12px;
}

.game_id_to_resume {
    color: blue;
    cursor: pointer;
}

#scores-button-area {
    position: absolute;
    left: 67%;
    top: 5%;
    font-size: 12px;
}

#username{
    position: absolute;
    left: 85%;
    top: 3%;
    font-size: 12px;
}

#timer{
    position: absolute;
    left: 85%;
    top: 7%;
    font-size: 12px;
}

.status-2 {
    background-image: url("../images/bomb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
}

.status-1 {
    background-image: url("../images/bomb.png");
    background-repeat: no-repeat;
    background-position: center;
}

.status0 {
    background-color: #ccc;
}

.status1 {
    background-color: white;
}

.status2 {
    background-image: url("../images/flag.png");
    background-repeat: no-repeat;
    background-position: center;
}

.status3 {
    background-image: url("../images/interrogation_mark.png");
    background-repeat: no-repeat;
    background-position: center;
}

.status4 {
    /*background-color: black;*/
}

#minesweeper_window {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 800px;
    /*height: 500px;*/
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}
.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.top_menu .buttons .button.close {
    background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}
.top_menu .title {
    text-align: center;
    color: #31708f;
    font-size: 30px;
}


.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}
#message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}
.bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}
.bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
}
.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.message_template {
    display: none;
}

.winner {
    color: #428bca;
    font-size: 25px;
    background-color: chartreuse;
    width: 25%;
    margin: 0 auto;
}
